@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }
}

* {
  border-color: #e5e7eb;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-zinc-950 font-inter antialiased relative overflow-x-hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global Noise Overlay */
body::after {
  content: "";
  position: fixed;
  top: -150%;
  left: -150%;
  width: 400%;
  height: 400%;
  @apply bg-noise opacity-[0.03] pointer-events-none z-[9999] animate-noise;
}

.font-serif {
  font-family: "Instrument Serif", serif;
}
